<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let friend of friendList,index as index">
    <th>
      <div class="img-container" >
        <img class="img-inside img-thumbnail" src="{{friend.avatarUrl}}" alt="">

      </div>
    </th>
    <td>
      <a [routerLink]="'/account/'+friend.id">
        {{friend.name}}
      </a>

    </td>
    <td>{{friend.email}}</td>
  </tr>

  </tbody>
</table>
