<div class="container">
    <div class="wrapper" style="background-image:url('assets/static/images/bg-registration-form-2.jpg');">
      <div class="inner">
        <form [formGroup]="registerForm" (ngSubmit)="submitRegister()">
          <h3>Registration</h3>
          <div class="form-wrapper">
            <label for="email">Email</label>
            <input style="border-radius: 30px" autofocus type="email" formControlName="email" id="email" class="form-control" placeholder="Enter your email">
          </div>
          <div class="form-wrapper">
            <label for="name">Name</label>
            <input style="border-radius: 30px" type="text" formControlName="name" id="name" class="form-control" placeholder="Enter your name">
          </div>
          <div class="form-wrapper">
            <label for="password">Password</label>
            <input style="border-radius: 30px" type="password" formControlName="password" id="password" class="form-control">
          </div>
          <div class="form-wrapper">
            <label for="confirmPass">Confirm Password</label>
            <input style="border-radius: 30px" type="password" [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}" id="confirmPass" class="form-control">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> I accept the Terms of Use & Privacy Policy.
              <br>
              <span class="checkmark"></span>
            </label>
          </div>
          <button type="submit" style="border-radius: 30px">Register</button>
          <br>
          <div *ngIf="isRegisterFail">
            <div class="alert alert-danger">
              {{errorMessage}}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

