
<div class="container" style="background-color: #ebecf0">
  <div class="content-page">
    <div class="profile-banner" style="background-image: url(http://hubancreative.com/projects/templates/coco/corporate/images/stock/1epgUO0.jpg);">
      <div class="col-sm-3 avatar-container">
        <img [src]="accounts.avatarUrl?accounts.avatarUrl:'../../../../assets/static/img/avatar-default.png'" class="rounded-circle profile-avatar" alt="User avatar">
      </div>
      <!--      <div class="col-sm-12 profile-actions text-right">-->
      <!--        <button type="button" class="btn btn-success btn-sm"><i class="fa fa-check"></i> Friends</button>-->
      <!--        <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-envelope"></i> Send Message</button>-->
      <!--      </div>-->
    </div>
    <div class="content">

      <div class="row">
        <div class="col-lg-3">
          <!-- Begin user profile -->
          <div style="margin-top:120px">
            <ul class="list-group">
              <li class="text-center list-group-item">
                <h4><b>{{accounts.name}}</b></h4>
              </li>
              <li class="list-group-item">
                <span class="badge">Email:</span>
                <span>{{accounts.email}}</span>
              </li>
              <li class="list-group-item">
                <span class="badge">Phone:</span>
                <span>{{accounts.phoneNumber}}</span>
              </li>
              <li class="list-group-item">
                <span class="badge">Bạn Bè: </span>
              </li>
            </ul>

            <!-- User button -->
            <div class="user-button">
              <div class="row">
                <div class="col-12">
                  <button type="button" routerLink="/" class="btn btn-primary btn-block">Trang chủ</button>
                </div>
                <div class="col-12" *ngIf="accountId != path_id && isNoRelation">
                  <button type="button" class="btn btn-secondary  btn-block" (click)="sentFriendRequest()"><i class="fa fa-user"></i> Thêm bạn</button>
                </div>
                <div class="col-12" *ngIf="isPending">
                  <button class="btn btn-secondary btn-block disabled">Chờ xác nhận</button>
                </div>
                <div class="col-12" *ngIf="isFriend">
                  <button class="btn btn-primary btn-block disabled">Bạn bè</button>
                </div>
                <div class="col-12" *ngIf="accountId == path_id">
                  <!--Edit button-->
                  <button routerLink="/account/edit" class="btn btn-outline-primary btn-block"><i class="fas fa-user-edit"></i></button>
                </div>
              </div>
            </div><!-- End div .user-button -->
          </div><!-- End div .box-info -->
          <!-- Begin user profile -->
        </div><!-- End div .col-sm-4 -->

        <div class="col-sm-9">
          <div class="widget widget-tabbed">
            <!-- Nav tab -->
            <ul class="navbar navbar-expand-lg navbar-light bg-light" style="list-style: none">
              <li class="nav-item active"><a class="nav-link" href="#my-timeline" data-toggle="tab"><i class="fa fa-pencil"></i> Timeline</a></li>
              <li class="nav-item"><a class="nav-link" href="#about" data-toggle="tab"><i class="fa fa-user"></i> About</a></li>
              <li class="nav-item"><a class="nav-link" href="#user-activities" data-toggle="tab"><i class="fa fa-laptop"></i> Activities</a></li>
              <li class="nav-item"><a class="nav-link" href="#mymessage" data-toggle="tab"><i class="fa fa-envelope"></i> Message</a></li>
            </ul>
            <!-- End nav tab -->

            <!-- Tab panes -->
            <div class="tab-content my-5">


              <!-- Tab timeline -->
              <div class="tab-pane animated active fadeInRight" id="my-timeline">
                <div class="user-profile-content">

                  <!-- Begin timeline -->
                  <div class="the-timeline">
                      <form [formGroup]="statusForm" (ngSubmit)="addStatus()" class="post-to-timeline" *ngIf="accountId == path_id">
                        <textarea class="form-control" formControlName="content" style="height: 70px;margin-bottom:10px;" placeholder="Whats on your mind..."></textarea>
                        <div class="row">
                          <div class="col-sm-6">
                            <a class="btn btn-sm btn-default"><i class="fa fa-camera"></i></a>
                            <a class="btn btn-sm btn-default"><i class="fa fa-video-camera"></i></a>
                            <a class="btn btn-sm btn-default"><i class="fa fa-map-marker"></i></a>
                          </div>
                          <div class="col-sm-6 text-right"><button type="submit" class="btn btn-primary">Post</button></div>
                        </div>
                      </form>
                    <div *ngIf="accountId == path_id">
                      <app-search-status (keyword_status_search)="searchStatusByKeyword($event)"></app-search-status>
                    </div>
                    <div>
                      <ng-container *ngFor="let status of statusResult">
                        <div class="card">
                          <div class="card-body">
                            <div style="list-style: none">
                              <h4>{{status.account.name}}</h4>
                              <div class="the-date">
                                <span>{{status.createDate}}</span>
                              </div>
                              <br>
                              <p>
                                {{status.content}}
                              </p>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                    <br><br>

                    <ng-container *ngFor="let st of status" style="padding-left: 0px">
                      <div class="card mb-3">
                        <div class="card-header">
                          <div class="d-flex justify-content-between">
                            <div class="left-top-head">
                              <div class="img-container d-flex flex-row align-items-center" >
                                <img class="img-inside rounded-circle" [src]="st.account.avatarUrl?st.account.avatarUrl:'../../../../assets/static/img/avatar-default.png'" alt="avatar">
                                <div class="ml-3">
                                  <a class="account-link" [routerLink]="'/account/'+st.account.id">
                                    <h4>{{st.account.name}}</h4>
                                  </a>
                                </div>

                              </div>

                              <div class="the-date">
                                <span>{{st.createDate.toDateString()}}</span>
                              </div>
                            </div>
                            <div class="dropdown">
<!--                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                                <i class="fas fa-ellipsis-h"></i>-->
<!--                              </a>-->
                              <button class="btn btn-sm" type="button" aria-haspopup="true"
                                      aria-expanded="false" id="dropdownMenu" data-toggle="dropdown">
                                                                  <i class="fas fa-ellipsis-h"></i>
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                                <a class="dropdown-item" href="#">Chỉnh sửa</a>
                                <a class="dropdown-item" *ngIf="path_id == accountId">Xóa</a>
                                <a class="dropdown-item" *ngIf="path_id != accountId">Ẩn</a>
                                <!--                                  <a class="dropdown-item" href="#">Something else here</a>-->
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-body p-0">
                          <div style="list-style: none">
                            <div class="upper-content px-3 pt-3">
                              <p>
                                {{st.content}}
                              </p>
                              <div class="d-flex flex-row justify-content-start" *ngIf="st.images != null">
                                <div  class="img-box" style="max-height: 300px" *ngFor="let img of st.images">
                                  <img class="img-thumbnail" style="max-height: inherit" src="{{img.url}}" alt="img">
                                </div>
                              </div>
                              <br>
                              <span>
                              {{st.totalLikes}} Lượt thích
                            </span>
                              <span>&nbsp;</span>
                              <span>
                              {{st.totalComments}} Bình luận
                            </span>
                            </div>


                            <hr style="margin: 3px 15px 0 15px ">
                            <div class="row d-flex flex-row justify-content-between mx-0">
                              <div class="text-center col-4 py-1 px-0">
                                <button type="button"  class="btn  btn-block mt-0" > <i class="fa fa-thumbs-up">&nbsp;</i>Like</button>
                              </div>
                              <div class="text-center col-4 py-1 px-0">
                                <a style="text-decoration: none" href="#newfeed{{st.id}}" role="button"
                                   data-toggle="collapse" aria-expanded="false" >
                                  <button class="btn  btn-block mt-0">
                                    <i class="fa fa-comment"></i> Comment
                                  </button>
                                </a>
<!--                                <button type="button" class="btn btn-light btn-block mt-0"-->
<!--                                        data-toggle="collapse"  data-target="#newfeed{{st.id}}"-->
<!--                                        aria-expanded="false" href="#newfeed{{st.id}}"-->
<!--                                        aria-controls="collapseExample"><i class="fa fa-comment">&nbsp;</i>Comment-->
<!--                                </button>-->
                              </div>
                              <div class="text-center col-4 py-1 px-0">
                                <button type="button" class="btn  btn-block mt-0" ><i class="fa fa-share">&nbsp;</i>Share</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-footer">

                          <div id="newfeed{{st.id}}" class=" collapse" >
                            <div *ngFor="let comment of st.comments">
                              <span>
                                <a href="/account/{{comment.account.id}}">{{comment.account.name}}</a>&nbsp;
                                <span>{{comment.content}}</span>
                              </span>
                            </div>
                            <div *ngIf="isFriend || accountId == path_id">
                              <app-comment (commentConetent)="getCommentContent($event, st.id)"></app-comment>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>

                  </div><!-- End div .the-timeline -->
                  <!-- End timeline -->
                </div><!-- End div .user-profile-content -->
              </div><!-- End div .tab-pane -->
            </div><!-- End div .tab-content -->
          </div><!-- End div .box-info -->
        </div>
      </div>
    </div>
  </div>
</div>
