<div class="card-footer">
  <div class="row">
    <div *ngIf="comments!= null && comments.length == 0 ">
      <div class="col-12 text-center">
        Chưa có bình luận...
      </div>

    </div>
    <ng-container *ngFor="let cmt of comments">

      <div class="col-2 small-avatar-container">
        <img class="small-avatar rounded-circle img-thumbnail"
             [src]="cmt.comment.account.avatarUrl?cmt.comment.account.avatarUrl:'../../../../assets/static/img/avatar-default.png'" alt="avatar">
      </div>
      <div class="col-9 commentList">
        <a [routerLink]="'/account/'+ cmt.comment.account.id">{{cmt.comment.account.name}}</a><br>
        <div *ngIf="editCommentID != cmt.comment.id">
          <span>{{cmt.comment.content}}</span>
          <span>&emsp;</span>
          <span *ngIf="cmt.like == true">
          <i class="fa fa-thumbs-up" style="color: dodgerblue; margin-left: 20px;margin-right: 10px" (click)="unLikeComment(cmt.comment.id,$event)">
          </i>
        </span>
          <span *ngIf="cmt.like == false">
          <i class="fa fa-thumbs-up" style="margin-left: 20px;margin-right: 10px" (click)="likeComment(cmt.comment.id,$event)">
          </i>
        </span>
          <span>&emsp;</span>
          <span>{{cmt.comment.totalLikes}}</span>
        </div>
        <div class="col-9 commentList" *ngIf="editCommentID == cmt.comment.id">
          <form [formGroup]="createCommentForm" (ngSubmit)="saveComment(cmt.comment.id)">
            <div >
              <input style="border: none; width: 100%" class="input-comment rounded-lg" formControlName="content" type="text" placeholder="Viết bình luận"  >
            </div>
            <button style="display: none" class="btn btn-sm btn-primary ml-3" type="button"></button>
          </form>
        </div>
      </div>
      <br>
      <div class="col-1">
        <div class="dropdown">
          <button class="btn btn-sm" type="button" aria-haspopup="true"
                  aria-expanded="false" id="editMenu" data-toggle="dropdown">
            <i class="fas fa-ellipsis-h"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right " aria-labelledby="editMenu">
            <a class="dropdown-item" (click)="editComment(cmt.comment.id, $event)">Chỉnh sửa</a>
            <a class="dropdown-item" *ngIf="current_id == cmt.comment.account.id" (click)="getComment_id(cmt.comment.id)"  >Xóa</a>
            <a class="dropdown-item" *ngIf="current_id !== cmt.comment.account.id">Ẩn</a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
