<form [formGroup]="newStatus" (ngSubmit)="addStatus()">
<div class="status-form-container mb-3 bg-secondary border border-secondary rounded">
  <div class="input-bar row p-3">
    <div class=" col-lg-1 col-md-2 small-avatar-container">
      <img class="small-avatar rounded-circle"
           [src]="currentAccount.avatarUrl?currentAccount.avatarUrl:'../../../../assets/static/img/avatar-default.png'"
           alt="avatar">
    </div>
    <div class=" col-lg-11 col-md-10 d-flex align-items-center">
      <input class="rounded-lg" formControlName="content"  type="text" placeholder="Bạn đang nghĩ gì?">
      <button type="submit" class="btn btn-lg btn-primary ml-2">Đăng</button>
    </div>

  </div>
  <div class="status-img d-flex justify-content-start"></div>
  <div class="button-downside d-flex m-3">
    <button class="btn btn-success btn-block" (click)="fileUploader.click()">Ảnh/Video</button>
  </div>
  <input hidden #fileUploader type="file">
</div>
</form>
