<form [formGroup]="newStatus" (ngSubmit)="submit()">
<div class="status-form-container mb-3 rounded">
  <div class="input-bar row p-3">
    <div class=" col-lg-1 col-md-2 small-avatar-container">
      <img class="small-avatar rounded-circle"
           [src]="currentAccount.avatarUrl?currentAccount.avatarUrl:'../../../../assets/static/img/avatar-default.png'"
           alt="avatar">
    </div>
    <div class=" col-lg-11 col-md-10 d-flex align-items-center">
      <input class="rounded-lg" formControlName="content"  type="text" placeholder="Bạn đang nghĩ gì?">
      <button type="submit" class="btn btn-lg btn-primary ml-2">Đăng</button>
    </div>

  </div>
  <div class="status-img d-flex flex-row justify-content-start" >
    <div [hidden]="totalImg < 1" class="img-box" style="max-height: 300px">
      <img class="img-thumbnail" [style]="'max-width: '+100/totalImg+'%;max-height: inherit'"  [src]="imgOne" alt="img1">
    </div>
    <img [hidden]="totalImg < 2" [src]="imgTwo" alt="img2">
    <img [hidden]="totalImg < 3" [src]="imgThree" alt="img3">
  </div>
  <div class="button-downside d-flex m-3">
    <button class="btn btn-success btn-block mb-3" type="button" (click)="fileUploader.click()">Ảnh/Video</button>
  </div>
  <input hidden #fileUploader (change)="showPreview($event)" type="file">
</div>
</form>
