<div class="container" style="background-color: #ebecf0">
  <div class="content-page">
    <div class="profile-banner" style="background-image: url(http://hubancreative.com/projects/templates/coco/corporate/images/stock/1epgUO0.jpg);">
      <div class="col-sm-3 avatar-container">
        <img [src]="accounts.avatarUrl?accounts.avatarUrl:'../../../../assets/static/img/avatar-default.png'" class="rounded-circle profile-avatar" alt="User avatar">
      </div>

    </div>
    <div class="content">

      <div class="row">
        <div class="col-lg-3">
          <!-- Begin user profile -->
          <div style="margin-top:120px">
            <ul class="list-group">
              <li class="text-center list-group-item">
                <h4><b>{{accounts.name}}</b></h4>
              </li>
              <li class="list-group-item">
                <span class="badge">Email:</span>
                <span>{{accounts.email}}</span>
              </li>
              <li class="list-group-item">
                <span class="badge">Phone:</span>
                <span>{{accounts.phoneNumber}}</span>
              </li>
              <li class="list-group-item">
                <span class="badge">Follow : 1.000.000</span>
              </li>
            </ul>

            <!-- User button -->
            <div class="user-button">
              <div class="row">
                <div class="col-12">
                  <button type="button" routerLink="/" class="btn btn-primary btn-block">Trang chủ</button>
                </div>
                <div class="col-12" >
                  <button routerLink="/account/edit" class="btn btn-outline-primary btn-block"><i class="fas fa-user-edit"></i></button>
                </div>

              </div>
            </div><!-- End div .user-button -->
          </div><!-- End div .box-info -->
          <!-- Begin user profile -->
        </div><!-- End div .col-sm-4 -->

        <div class="col-lg-9 ">
          <div class="widget widget-tabbed">
            <!-- Nav tab -->
<!--            <ul class="navbar navbar-expand-lg navbar-light bg-light" style="list-style: none">-->
<!--              <li class="nav-item active"><a class="nav-link" href="#my-timeline" data-toggle="tab"><i class="fa fa-pencil"></i> Timeline</a></li>-->
<!--              <li class="nav-item"><a class="nav-link" href="#about" data-toggle="tab"><i class="fa fa-user"></i> About</a></li>-->
<!--              <li class="nav-item"><a class="nav-link" href="#user-activities" data-toggle="tab"><i class="fa fa-laptop"></i> Activities</a></li>-->
<!--              <li class="nav-item"><a class="nav-link" href="#mymessage" data-toggle="tab"><i class="fa fa-envelope"></i> Message</a></li>-->
<!--            </ul>-->
            <!-- End nav tab -->

            <!-- Tab panes -->
            <div class="tab-content my-8">


              <!-- Tab timeline -->
              <div class="tab-pane animated active fadeInRight" id="my-timeline">
                <div class="user-profile-content">

                  <!-- Begin timeline -->
                  <div class="the-timeline">
                    <router-outlet></router-outlet>



                  </div><!-- End div .the-timeline -->
                  <!-- End timeline -->
                </div><!-- End div .user-profile-content -->
              </div><!-- End div .tab-pane -->
            </div><!-- End div .tab-content -->
          </div><!-- End div .box-info -->
        </div>
      </div>
    </div>
  </div>
</div>



