/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
.small-avatar-container{
  height: 50px;
  width: 50px;
}

.small-avatar{
  height: inherit;
  width: inherit;
}

